[Unit]
Description=Prometheus Node Exporter
After=network.target

[Service]
User={{ user }}
Group={{ user }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/home/{{ user }}/{{ entry.basename }}-{{ entry.version }}.{{ grains.kernel|lower }}-{{ grains.osarch }}/{{ entry.basename }} \
    --web.listen-address :7231 \
{%- if pillar.prometheus.node_exporter.get('smartmon') %}
    --collector.textfile.directory /home/{{ user }}/node-exporter-textfile-directory \
{%- endif %}
    --web.config /home/{{ user }}/config.yaml

[Install]
WantedBy=multi-user.target
