[Unit]
Description=Prometheus Server
After=network.target

[Service]
User={{ user }}
Group={{ user }}
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/home/{{ user }}/{{ entry.basename }}-{{ entry.version }}.{{ grains.kernel|lower }}-{{ grains.osarch }}/{{ entry.basename }} \
    --web.listen-address 127.0.0.1:9057 \
    --config.file /home/{{ user }}/conf-prometheus.yml \
    --storage.tsdb.path /home/{{ user }}/data \
    --storage.tsdb.retention.time {{ entry.local_storage_retention }}

[Install]
WantedBy=multi-user.target
