[Unit]
Description=Scrapyd
After=network.target

[Service]
User={{ user }}
Group={{ group }}
UMask=2002
{%- for key, value in pillar.kingfisher_collect.env.items() %}
Environment="{{ key}}={{ value }}"
{%- endfor %}
{%- if 'tinyproxy' in pillar %}
Environment="http_proxy={{ pillar.tinyproxy.url }}"
Environment="https_proxy={{ pillar.tinyproxy.url }}"
Environment="no_proxy=localhost,sentry.io"
{%- endif %}
WorkingDirectory={{ entry.appdir }}
ExecStart={{ entry.appdir }}/.ve/bin/scrapyd --nodaemon --logfile=/var/log/scrapyd/scrapyd.log
# https://github.com/open-contracting/kingfisher-collect/issues/606#issuecomment-953896571
LimitNOFILE=512000

[Install]
WantedBy=multi-user.target
