# Private repositories
/pillar/private
/salt/private
# Files created by script/setup
/salt-config/master.d
/salt-config/pki
# Locations set salt-config/master.d/localuser.conf
/cache
/log
/ssh_log
# Built files
/docs/_build
# Editor temporary files
*.swp
*~
