click
ocdsindex
requests
salt-ssh
pip-tools
pytest

# Need to manually set cryptography to a version that works on macOS in requirements.txt.
# https://github.com/saltstack/salt/issues/63191
# Need to manually set setproctitle==1.3.2 to a version that works on Python 3.10 in requirements.txt.
# https://github.com/saltstack/salt/pull/62576
