click
ocdsindex
requests
salt-ssh
pip-tools
pytest

# Need to manually set setproctitle to a version that works on Python 3.10 in requirements.txt.
# https://github.com/saltstack/salt/pull/62576

# Need to manually patch salt with https://github.com/saltstack/salt/pull/63184 until salt-ssh==3006
# to avoid jinja2.exceptions.TemplateNotFound errors relating to the lib.sls file.

# On macOS, install the version of cryptography in requirements.txt with, for example:
# https://github.com/saltstack/salt/issues/63191
#
# env LDFLAGS=-L$(brew --prefix openssl@3)/lib CFLAGS="-I$(brew --prefix openssl@3)/include \
#   -Wno-error=implicit-function-declaration" pip install --no-binary :all: cryptography==3.3.2
