[Unit]
Description=Prometheus Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
Type=simple
ExecStart=/home/{{ user }}/node_exporter-{{ pillar.prometheus.node_exporter_version }}.linux-amd64/node_exporter --web.listen-address=localhost:9157 {% if pillar.prometheus.client_node_exporter_textfile_collector_smartmon %} --collector.textfile.directory  /home/{{ user }}/node-exporter-textfile-directory{% endif %}

[Install]
WantedBy=multi-user.target
