# At least two workers
cheaper = 2
# Start off with two workers
cheaper-initial = 2
# Spawn up to 100 workers as needed
workers = 100
# One thread per process so they can be killed without affecting other requests
threads = 1
max-requests = 1024
memory-report = true
# If memory usage of a worker > 250MB at the *end* of a request, then reload it
reload-on-as = 250
