[Unit]
Description=Prometheus Alertmanager
Wants=network-online.target
After=network-online.target

[Service]
User={{ entry.user }}
Group={{ entry.user }}
Type=simple
ExecStart=/home/{{ entry.user }}/{{ name }}-{{ entry.version }}.linux-{{ grains['osarch'] }}/{{ name }} \
    --web.listen-address 127.0.0.1:9095 \
    --config.file /home/{{ entry.user }}/conf-alertmanager.yml \
    --storage.path /home/{{ entry.user }}/data \
    --web.external-url https://{{ entry.apache.servername }}/

[Install]
WantedBy=multi-user.target
