[Unit]
Description=Prometheus Server
Wants=network-online.target
After=network-online.target

[Service]
User={{ user }}
Group={{ user }}
Type=simple
ExecStart=/home/{{ user }}/prometheus-{{ pillar.prometheus_server.version }}.linux-amd64/prometheus \
    --web.listen-address 127.0.0.1:9057 \
    --config.file /home/{{ user }}/conf-prometheus.yml \
    --storage.tsdb.path /home/{{ user }}/data \
    --storage.tsdb.retention.time {{ pillar.prometheus_server.local_storage_retention }}

[Install]
WantedBy=multi-user.target
